* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

:root{
    --black-variant: #020d19;
}
 
/*---------------Navigation Bar------------- */
nav {
    background-color: #020d1911;
    /* background-color: transparent; */
    color: white;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    position: fixed;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

nav.scrolled{
    background-color: var(--black-variant);
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .nav1 {
    display: flex;
    width: 60%;
    margin-left: 10px;
    color: white;
}

header .nav2 {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 10px;
    color: white;
}

.links {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.links ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
}

.links ul li {
    font-size: 10px;
}

.links ul li :hover{
    cursor: pointer;
}

.links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 8px;
    transition: 0.2s all ease-in;
}

.links ul li a:hover{
    color: #8b8b8b;
} 

/*---------------Preview Movie Section------------- */
#preview{
    top: 0;
    height: 75vh;
    /* background-image: url(assets/Wallpapers/jjk_wallpaper.png); */
    background-image: url(assets/Wallpapers/minions_wallpaper.png);
    /* background-image: url(assets/Wallpapers/stranger-things_wallpaper.png); */
    background-repeat: no-repeat;
    background-size: cover;
}

.information{
    background-color: transparent;
    /* background-color: rgba(128, 128, 128, 0.2); */
    height: 100%;
    width: 40%;
}

.movieLogo{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 35px;
}

.movieLogo img{
    padding-left: 25px;
    width: 150px;
}

.movieInfo{
    height: 50%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.movieDesc{
    font-size: 10px;
    padding-left: 20px;
    color: aliceblue;
}

.movieDesc p{
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.movieButtons{
    padding-top: 10px;
    padding-left: 20px;
    margin-top: 5px;
    display: flex;
}

.movieCTA1{
    background-color: white;
}

.movieCTA1:hover{
    background-color: rgba(255, 255, 255, 0.8);
    
}

.fa-solid.fa-play{
    margin-right: 5px;
}

.movieCTA1,.movieCTA2{
    padding: 5px 15px;
    font-size: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.movieCTA2{
    background-color: rgba(128, 128, 128, 0.795);
    color: white;
    margin-left: 5px;
}

.movieCTA2:hover{
    background-color: rgba(128, 128, 128, 0.6);
}

.movieCTA2 img{
    margin-right: 4px;
}

/* --------------Carousels------------- */
#recommendations{
    background-color: var(--black-variant);
    width: 100%;
}

#recommendations h3{
    color: white;
    font-family: Arial, sans-serif;
    padding-top: 10px;
    margin-left: 20px;
    font-size: 10px;
    font-weight: 300;
}

.carousel{
    display: flex;
    gap: 4px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 5px;
}

.movie{
    height: 70px;
}

.movie img{
    width: 120px;
    height: 100%;
    transition: 0.3s all ease-in-out;
}
/* 
.movie img:hover{
    scale: 1.2;
    transform: scaleY(1.2);
} */
