* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --black-variant: #020d19;
}
 
body::-webkit-scrollbar {
    width: 0px;  
}

/*---------------Navigation Bar------------- */
nav {
    /* background-color: #020d193d; */
    /* background-color: rgba(0, 0, 0, 0.228);
    backdrop-filter: blur(10px); */
    background-color: transparent;
    color: white;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    position: fixed;
    z-index: 10;
    transition: 0.3s ease-in-out;
}

nav.scrolled{
    background-color: var(--black-variant);
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .nav1 {
    display: flex;
    width: 60%;
    margin-left: 40px;
    color: white;
}

header .nav2 {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 10px;
    color: white;
}

.links {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.links ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.links ul li {
    font-size: 10px;
}

.links ul li :hover{
    cursor: pointer;
}

.links ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s all ease-in;
    text-shadow: 2px 2px 2px rgb(55, 55, 55);
}

.links ul li a:hover{
    color: #8b8b8b;
} 

.links ul li a:active{
    color: aliceblue;
}

/*---------------Preview Movie Section------------- */
#preview{
    top: 0;
    height: 80vh;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.information{
    background-color: transparent;
    /* background-color: rgba(128, 128, 128, 0.2); */
    height: 100%;
    width: 40%;
    padding-left: 35px;
}

.movieLogo{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20%;
}

.movieLogo img{
    padding-left: 25px;
    margin-bottom: 10px;
    width: 60%;
}

.movieInfo{
    height: 50%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin-top: 25px;
}

.movieDesc{
    font-size: 18px;
    padding-left: 20px;
    color: aliceblue;
    line-height: 1.5rem;
}

.movieDesc p{
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.movieButtons{
    padding-top: 15px;
    padding-left: 25px;
    margin-top: 8px;
    display: flex;
}

.movieCTA1{
    background-color: white;
}

.movieCTA1:hover{
    background-color: rgba(255, 255, 255, 0.707);
}

.fa-solid.fa-play{
    font-size: 28px;
    margin-right: 12px;
}

.movieCTA1,.movieCTA2{
    padding: 10px 30px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.movieCTA2{
    background-color: rgba(128, 128, 128, 0.795);
    color: white;
    margin-left: 10px;
}

.movieCTA2:hover{
    background-color: rgba(128, 128, 128, 0.6);
}

.movieCTA2 img{
    margin-right: 10px;
}

/* --------------Carousels------------- */
.recommendations {
    background-color: var(--black-variant);
    padding-left: 35px;
    max-width: 100%;
    width: 100%;
    padding-bottom: 35px;
}

.recommendations h3 {
    color: white;
    font-family: Arial, sans-serif;
    padding-top: 15px;
    margin-left: 20px;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.carousel {
    position: relative;
}

.carousel .movie {
    display: flex;
    overflow-x: scroll;
    overflow-y: visible;
    scrollbar-width: none;
    margin-left: 20px;
    /* margin-right: -100px;
    padding-right: 100px; */
}

.carousel .movie .indimovie {
    flex: 0 0 240px;
    transition: 0.3s ease-in-out;
    overflow-y: visible;
}

.carousel .movie .indimovie img {
    transition: transform .3s ease-in-out;
}

.carousel .movie .indimovie:hover{
    transform: scale(1.3);
}

.carousel .carousel-button {
    position: absolute;
    top: 50%;
    height: 150px;
    width: 60px;
    background-color: #42424238;
    color: aliceblue;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    outline: none;
    transform: translateY(-50%);
    transition: 0.3s all ease-in-out;
    z-index: 1;
}

.carousel .carousel-button:hover {
    background-color: #1a1a1ab6;
    font-size: 3.5rem;
}

.carousel #prev-slide {
    left: 20px;
}

.carousel #next-slide {
    right: 0;
}


/*---------------------FOOTER-------------------- */
footer{
    background-color: #020d19;
    /* background-color: #141414; */
    color: white;
    padding: 50px;
    padding: 60px 40px;
}

.footer-one{
    width: 100px;
    margin-bottom: 15px;
}

.footer-one img{
    width: 100%;
}
